body { 
  display: grid;
  grid-template-areas: 
    "header header "
    "content  nav"
      "stuff stuff"
    "footer footer ";
  grid-template-rows: 80px 1fr 1fr 70px;  
  grid-template-columns: 70% 30%;
  grid-row-gap: 0px;
/*  grid-column-gap: 10px;*/
  height: 100vh;
  margin: 0;
  }  
/* Stack the layout on small devices/viewports. */
/*
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "content"
      "nav"
      "stuff"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
*/
header, footer, article, nav, div {
  padding: 1.2em;

    font-weight: 300;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
  }
#pageHeader {
  grid-area: header;
      background: grey;
  }
#pageFooter {
  grid-area: footer;
      background: black;
  }
#mainArticle { 
  grid-area: content;  
    height: 400px;
      background: #52afff;
  }
#stuff { 
  grid-area: stuff; 
    height: 100%;
      background: #9b009b;
  }
#navi { 
  grid-area: nav; 
    height: 300px;
      background: rgb(1, 206, 1);
  }
