/*body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "article nav ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 60% 15% 25%;
  grid-row-gap: 10px;
/*  grid-column-gap: 10px;*/
 /* height: 100vh;
  margin: 0;
  }  
/* Stack the layout on small devices/viewports. */
/*@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
header, footer, article, nav, div {
  padding: 1.2em;

    font-weight: 300;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
  }
#pageHeader {
  grid-area: header;
      background: grey;
  }
#pageFooter {
  grid-area: footer;
      background: black;
  }
#mainArticle { 
  grid-area: article;  
    height: 70%;
      background: blue;
  }
#stuff { 
  grid-area: nav; 
    height: 30%;
      background: violet;
  }
#navi { 
  grid-area: ads; 
    height: 20%;
      background: lightgreen;
  }
*/
* {
  margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.flexbox_item{
     box-sizing: border-box;

}
.footer{ align-content: flex-end;
    background-color: black;
    width: 100%;
    color: aliceblue;
    height: 50px;
    align-content: flex-end;


}
.flexbox_item:nth-child(1){
    background-color: blue;
    width: 60%;
      height: 60%;
    color: aliceblue;
}
.flexbox_item:nth-child(2){
    background-color: violet;
    width: 25%;
      height: 30%;
    color: aliceblue;
}
.flexbox_item:nth-child(3){
    background-color: greenyellow;
    width: 15%;
      height: 30%;
    color: aliceblue;
}
.flexbox_vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flexbox_head {
    height: 50px;
}

.flexbox_horizontal { display: flex;
    flex-direction: row;
    height:500px;
}
